.mb-5 {
  margin-bottom: 5px !important;
}
button.btn-visibility {
  width: inherit;
  // height: 30px;
  // font-size: 12px;
  padding: 5px;
  margin: 5px;
}
.col-2 {
  margin: 5px;
  padding: 5px;
}
