<div class="input-group">
  <span class="input-label">{{label}}:&nbsp;</span>
  <input
    type="text"
    class="form-control bg-semi-success text-success border-0"
    [placeholder]="label"
    [(value)]="color"
    (change)="handleChangeColor($event.target.value)"
    [disabled]="disabled"
  >
  <div class="input-group-append">
    <button
      [colorPicker]="color"
      [cpPosition]="'bottom-left'"
      [cpPositionOffset]="'50%'"
      (colorPickerSelect)="handleChangeColor($event)"
      [cpOKButton]="true"
      [cpSaveClickOutside]="false"
      class="btn btn-semi-success d-flex align-items-center"
      type="button"
      [disabled]="disabled"
    >
      <i class="fal fa-eye-dropper" style="color: white; font-size: 12px;"></i>
    </button>
  </div>
</div>
