.input-group {
  .input-label {
    min-width: 50px;
    vertical-align: middle;
    line-height: 2;
    margin-right: 5px;
  }

  input {
    font-size: 12px !important;
    color: var(--color-success) !important;
  }

  .input-group-append {
    height: 32px !important;
  }
}