.mat-dialog-content{
  max-height: none !important;
}

.close {
  margin-top: 9px;
}

.dialog-title {
  background-color: #1b6753;
}

.dialog-body {
  .graph-type-select {
    padding: 7px;
  }

  .section-title {
    font-weight: 400;
    font-size: 1.2em;
  }
}

.mb-5 {
  margin-bottom: 5px !important;
  margin-left: 10px;
}
button.btn-visibility {
  // width: inherit;
  // height: 30px;
  // font-size: 12px;
  padding: 5px;
  margin: 5px;
}
