<mat-tab-group class="strategy-tab">
  <mat-tab label="Appearance" [disabled]="!strategies">
    <ng-template matTabContent>
      <app-strategy-appearance [disabled]="!strategies"></app-strategy-appearance>
    </ng-template>
  </mat-tab>
  <mat-tab label="Columns" [disabled]="!strategies">
    <ng-template matTabContent>
      <app-strategy-column-visibility [disabled]="!strategies"></app-strategy-column-visibility>
    </ng-template>
  </mat-tab>
  <mat-tab label="Filters" [disabled]="!strategies">
    <ng-template matTabContent>
      <app-strategy-filters [disabled]="!strategies"></app-strategy-filters>
    </ng-template>
  </mat-tab>
  <mat-tab label="Highlight" [disabled]="!strategies">
    <ng-template matTabContent>
      <app-strategy-highlight [disabled]="!strategies"></app-strategy-highlight>
    </ng-template>
  </mat-tab>
  <mat-tab label="Alerts" [disabled]="!strategies">
    <ng-template matTabContent>
      <app-strategy-alert [disabled]="!strategies"></app-strategy-alert>
    </ng-template>
  </mat-tab>
  <mat-tab label="History" [disabled]="!strategies">
    <ng-template matTabContent>
      <app-strategy-history [disabled]="!strategies"></app-strategy-history>
    </ng-template>
  </mat-tab>
</mat-tab-group>

