<div [ngClass]="{'disabled': disabled}">
<h2>Custom Configuration</h2>
<div class="column-section">
  <div class="section-header d-flex justify-content-center">
    <span class="section-title text-semi-gray">Main Columns</span>
  </div>
  <div class="column-list row justify-content-center" cdkDropListGroup>
    <ng-container *ngFor="let column of mainColumns; let i = index">
      <div

        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="{ item: column, index: i }"
        (cdkDropListDropped)="!disabled && drop($event, 'mainColumns')"
      >
        <div
          class="btn btn-column mb-3"
          [ngClass]="
            columnVisibilityConfig[column.key]
              ? 'column-visible'
              : 'column-invisible'
          "
          (click)="!disabled && onClickVisibility(column)"
          cdkDrag

        >
          {{ column.label }}
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="column-section">
  <div class="section-header d-flex justify-content-center">
    <span class="section-title text-semi-gray">Previous Stats Columns</span>
  </div>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="column-list row justify-content-center"
    (cdkDropListDropped)="!disabled && drop($event, 'prevStatsColumns')"
  >
    <div
      class="btn btn-column"
      *ngFor="let column of prevStatsColumns"
      [ngClass]="
        columnVisibilityConfig[column.key]
          ? 'column-visible'
          : 'column-invisible'
      "
      (click)="!disabled && onClickVisibility(column)"
      cdkDrag
    >
      {{ column.label }}
    </div>
  </div>
</div>

<div class="column-section">
  <div class="section-header d-flex justify-content-center">
    <span class="section-title text-semi-gray">Misc Columns</span>
  </div>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="column-list row justify-content-center"
    (cdkDropListDropped)="!disabled && drop($event, 'miscColumns')"
  >
    <div
      class="btn btn-column"
      *ngFor="let column of miscColumns"
      [ngClass]="
        columnVisibilityConfig[column.key]
          ? 'column-visible'
          : 'column-invisible'
      "
      (click)="!disabled && onClickVisibility(column)"
      cdkDrag
    >
      {{ column.label }}
    </div>
  </div>
</div>

<div class="column-section" *ngIf="customColumns.length">
  <div class="section-header d-flex justify-content-center">
    <span class="section-title text-semi-gray">Custom Columns</span>
  </div>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="column-list row justify-content-center"
    (cdkDropListDropped)="!disabled && drop($event, 'customColumns')"
  >
    <div
      class="btn btn-column"
      *ngFor="let column of customColumns"
      [ngClass]="
        columnVisibilityConfig[column.key]
          ? 'column-visible'
          : 'column-invisible'
      "
      cdkDrag
    >
      <span (click)="!disabled && onClickVisibility(column)">
        {{ column.label }}
      </span>
      <span (click)="!disabled && editCustomColumn(column.key)" style="margin-left: 5px">
        <i class="fal fa-edit"></i>
      </span>
      <span (click)="!disabled && deleteCustomColumn(column)" style="margin-left: 5px">
        <i class="fal fa-times-circle"></i>
      </span>
    </div>
  </div>
</div>

<h2>Custom Columns</h2>
<div style="display: flex">
  <div class="form-horizontal">
    <div class="row">
      <label class="col-sm-2" for="columnName">Name</label>
      <div class="col-sm-8">
        <input
          #name
          class="form-control"
          id="columnName"
          placeholder="Column Name"
          [disabled]="disabled"
          (keyup)="handleNameChange($event.target.value)"
        />
      </div>
    </div>
    <div class="row">
      <label class="col-sm-2" for="stat">Stat</label>
      <div class="col-sm-8">
        <select
          class="custom-select custom-select-sm mr-5 field-select"
          [value]="selectedField"
          [disabled]="disabled"
          (change)="handleFieldChange($event.target.value)"
        >
          <option *ngFor="let field of fieldNames" [value]="field.value">
            {{ field.text }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-2" for="interval">Previous Minutes</label>
      <div class="col-sm-8">
        <!-- <select
          class="custom-select custom-select-sm minute-select"
          placeholder="Value"
          (change)="handleMinuteChange($event.target.value)"
        >
          <option *ngFor="let minute of minutes" [value]="minute.value">
            {{ minute.text }}
          </option>
        </select> -->
        <div style="display: flex;">
        <input
        type="number"
        class="form-control bg-semi-success text-success border-0"
        placeholder="Minutes"
        [disabled]="disabled"
        (keyup)="handleMinuteChange($event.target.value)"
      />
      <button
      class="
        btn btn-semi-success
        d-flex
        align-items-center
        text-white
      "
      type="button"
    >
      #
    </button></div>
      </div>
    </div>
  </div>
  <div style="position: relative">
    <button
      class="btn btn-createcolumn"
      (click)="handleCreateColumn()"
      [disabled]="disabled || !isColumnName()"
    >
      Create Column
    </button>
  </div>
</div>

<h2 style="margin-top: 20px">Preview</h2>
<div style="text-align: center">
  <div class="column-preview">
    <div class="column-preview-child">
      <div class="child-title-div">
        <span class="child-title">Main columns</span>
      </div>
      <div
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="!disabled && drop($event, 'mainColumns')"
        class="column-preview-section d-flex justify-content-center"
      >
        <div class="column-preview-detail" *ngFor="let column of mainColumns">
          <img
            cdkDrag
            *ngIf="columnVisibilityConfig[column.key]"
            [src]="'assets/img/psd/' + imageUrls[column.key] + '.png'"
          />
        </div>
      </div>
    </div>
    <div class="column-preview-child">
      <div class="child-title-div">
        <span class="child-title">Previous Stats Columns</span>
      </div>
      <div
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="!disabled && drop($event, 'prevStatsColumns')"
        class="column-preview-section d-flex justify-content-center"
      >
        <div
          class="column-preview-detail"
          *ngFor="let column of prevStatsColumns"
        >
          <img
            cdkDrag
            *ngIf="columnVisibilityConfig[column.key]"
            [src]="'assets/img/psd/' + imageUrls[column.key] + '.png'"
          />
        </div>
      </div>
    </div>
    <div class="column-preview-child">
      <div class="child-title-div">
        <span class="child-title">Misc Columns</span>
      </div>
      <div
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="!disabled && drop($event, 'miscColumns')"
        class="column-preview-section d-flex justify-content-center"
      >
        <div class="column-preview-detail" *ngFor="let column of miscColumns">
          <img
            cdkDrag
            *ngIf="columnVisibilityConfig[column.key]"
            [src]="'assets/img/psd/' + imageUrls[column.key] + '.png'"
          />
        </div>
      </div>
    </div>
    <div class="column-preview-child" *ngIf="customColumns.length">
      <div class="child-title-div">
        <span class="child-title">Custom Columns</span>
      </div>
      <div
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="!disabled && drop($event, 'customColumns')"
        class="column-preview-section d-flex justify-content-center"
      >
        <div class="column-preview-detail" *ngFor="let column of customColumns">
          <img
            cdkDrag
            *ngIf="columnVisibilityConfig[column.key]"
            [src]="'assets/img/psd/' + 'custom' + '.png'"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="function-button-section d-flex justify-content-end">
  <button class="btn discard-changes" (click)="!disabled && handleDiscardChanges()">
    Discard Changes
  </button>
</div>
</div>
