<div class="row m-0 bg-white stats-alert-history" [ngClass]="{'disabled': disabled}">
    <table mat-table [dataSource]="alertsHistory" class="history-table" >
        <ng-container matColumnDef="alertId">
            <th mat-header-cell *matHeaderCellDef> AlertId </th>
            <td mat-cell *matCellDef="let element"> {{element.alertId}} </td>
        </ng-container>

        <ng-container matColumnDef="league">
            <th mat-header-cell *matHeaderCellDef> League </th>
            <td mat-cell *matCellDef="let element"> {{element.leagueName}} </td>
        </ng-container>

        <ng-container matColumnDef="home">
            <th mat-header-cell *matHeaderCellDef> Home </th>
            <td mat-cell *matCellDef="let element"> {{element.home}} </td>
        </ng-container>

        <ng-container matColumnDef="away">
            <th mat-header-cell *matHeaderCellDef> Away </th>
            <td mat-cell *matCellDef="let element"> {{element.away}} </td>
        </ng-container>

        <ng-container matColumnDef="alertTime">
            <th mat-header-cell *matHeaderCellDef> Alert Time </th>
            <td mat-cell *matCellDef="let element"> {{element.alertTime}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
