.highlight-container {
  min-height: 800px;

  .spinnerWrap {
    width: 230px;
    margin-left: 10px;
  }
  .icon-info {
    margin-left: 10px;
    width: 20px;
  }
  .highlight-title {
    padding: 0;
    margin: 10px 0;
    font-size: 19px;
    font-weight: 800;
  }

  .padding-none {
      padding: 0;
  }

  .margin-top-bottom {
      margin: 10px 0;
  }

  .color-picker-wrap {
    width: 300px !important;
  }

  .highlight-shape-select {
    padding: 7px;
  }
}
.disabled {
  opacity: .7 !important;
}
